{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


{{def trunc(f, n):
    '''Truncates/pads a float f to n decimal places without rounding'''
    return ('%.*f' % (n + 1, f))[:-1]
}}


<p><b>Showing data for {{=draft_count}} drafts</b></p>

<div style="display:inline-block;">
<h3>{{=group_name}} {{="({0})".format(len(cards))}}</h3>

{{for x in cards:}}
  {{x.val = x.mu - 3 * x.sigma }}
{{pass}}

{{cards.sort(key=lambda x: -x.val)}}

<table>
  {{=TR(*map(lambda x: TH(x), ['Rank', 'Name', 'Level', 'Sigma']))}}
  {{for ix, card in enumerate(cards):}}
      {{=TR(TD(ix+1), TD(card.name), TD(trunc(card.val, 2)), TD(trunc(card.sigma, 2)))}}
  {{pass}}
</table>
</div>

<div style="display:inline-block; width: 30px;">
&nbsp;
</div>


<h3 id="graphHeader">{{=group_name}}</h3>
<canvas id="myChart" width="400" height="400"></canvas>

<hr>

<h3>Untouched Cards</h3>
<table>
  {{for ix, card in enumerate(untouched_cards):}}
      {{=TR(TD(ix+1), TD(card.name), TD(trunc(card.mu, 2)), TD(trunc(card.sigma, 2)))}}
  {{pass}}
  {{if len(untouched_cards) == 0:}}
    {{=H3("It's too late, you've seen everything.")}}
  {{pass}}
</table>


{{block right_sidebar}}
<h3>Choose:</h3>
<img src="{{=URL('static', 'images/colormap.png')}}" style="width:200px; height:200px; min-width:200px;" usemap="#colormap">
<map name="colormap">
  <area shape="rect" coords="0,0,40,40" title="All Colors" href="?">
  <area shape="rect" coords="40,0,80,40" title="White" href="?color=WHITE">
  <area shape="rect" coords="80,0,120,40" title="Blue" href="?color=BLUE">
  <area shape="rect" coords="120,0,160,40" title="Black" href="?color=BLACK">
  <area shape="rect" coords="160,0,200,40" title="Red" href="?color=RED">
  <area shape="rect" coords="0,40,40,80" title="Green" href="?color=GREEN">
  <area shape="rect" coords="40,40,80,80" title="GW" href="?color=SELESNYA">
  <area shape="rect" coords="80,40,120,80" title="GU" href="?color=SIMIC">
  <area shape="rect" coords="120,40,160,80" title="BG" href="?color=GOLGARI">
  <area shape="rect" coords="160,40,200,80" title="RG" href="?color=GRUUL">
  <area shape="rect" coords="0,80,40,120" title="Red" href="?color=RED">
  <area shape="rect" coords="40,80,80,120" title="RW" href="?color=BOROS">
  <area shape="rect" coords="80,80,120,120" title="UR" href="?color=IZZET">
  <area shape="rect" coords="120,80,160,120" title="BR" href="?color=RAKDOS">
  <area shape="rect" coords="0,120,40,160" title="Black" href="?color=BLACK">
  <area shape="rect" coords="40,120,80,160" title="WB" href="?color=ORZHOV">
  <area shape="rect" coords="80,120,120,160" title="UB" href="?color=DIMIR">
  <area shape="rect" coords="0,160,40,200" title="Blue" href="?color=BLUE">
  <area shape="rect" coords="40,160,80,200" title="WU" href="?color=AZORIUS">
  <area shape="rect" coords="160,160,200,200" title="Colorless" href="?color=COLOURLESS">    
</map>

<hr>

<a href="?cardtype=ARTIFACT"><button>Artifact</button></a>
<a href="?cardtype=CREATURE"><button>Creature</button></a>
<a href="?cardtype=ENCHANTMENT"><button>Enchantment</button></a>
<a href="?cardtype=INSTANT"><button>Instant</button></a>
<a href="?cardtype=LAND"><button>Land</button></a>
<a href="?cardtype=PLANESWALKER"><button>Planeswalker</button></a>
<a href="?cardtype=SORCERY"><button>Sorcery</button></a>

<hr>

<a href="?cmc=0"><button>CMC 0</button></a>
<a href="?cmc=1"><button>CMC 1</button></a>
<a href="?cmc=2"><button>CMC 2</button></a>
<a href="?cmc=3"><button>CMC 3</button></a>
<a href="?cmc=4"><button>CMC 4</button></a>
<a href="?cmc=5"><button>CMC 5</button></a>
<a href="?cmc=6"><button>CMC 6+</button></a>

{{end}}

<script src="{{=URL('static', 'js/Chart.min.js')}}"></script>
<script>
var data = {
  labels: {{=XML([card.name for card in cards[:25]])  }},
  datasets: [
  {
    label: "Mu's for Top Cards",
    fillColor: "rgba(220,220,220,0)",
    strokeColor: "rgba(0,220,220,0)",
    pointColor: "rgba(0,220,220,1)",
    pointHighlightFill : "#fff",
    pointHighlightStroke : "rgba(220,220,220,1)",
    errorStrokeColor: "rgba(0,220,220,1)",
    pointDotRadius: 5,
    bezierCurve: false,
    data: {{=XML([card.mu for card in cards[:25]])}},
    error: {{=XML([card.sigma * 3 for card in cards[:25]])}},
  }]

};

var ctx = document.getElementById("myChart").getContext("2d");
var chart1 = new Chart(ctx).Line(data, {scaleBeginAtZero: true});
</script>
