{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}


<p>Keeping it simple for now...</p>

tables for top 10 of each color + colorless -- pending inclusion of Color as a field

table with top 10 overall

<h3>Top Cards</h3>
<table>
  {{for ix, card in enumerate(top_cards):}}
      {{=TR(TD(ix+1), TD(card.Cards.Name), TD(card.mu), TD(card.sigma))}}
  {{pass}}
</table>


<h3>Graphs</h3>

<p>Mus for Top Cards</p>
<canvas id="myChart" width="400" height="400"></canvas>


{{block right_sidebar}}
<p>right sidebar</p>
{{end}}


<script src="{{=URL('static', 'js/Chart.min.js')}}"></script>
<script>
var data = {
  labels: {{=XML([card.Cards.Name for card in top_cards])  }},
  datasets: [
  {
    label: "Mus for Top Cards",
    fillColor: "rgba(220,220,220,0.5)",
    strokeColor: "rgba(220,220,220,0.8)",
    highlightFill: "rgba(220,220,220,0.75)",
    highlightStroke: "rgba(220,220,220,1)",
    data: {{=XML([card.mu for card in top_cards])}}
  }]

};

var ctx = document.getElementById("myChart").getContext("2d");
var myBarChart = new Chart(ctx).Bar(data);
</script>
