{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{def trunc(f, n):
    '''Truncates/pads a float f to n decimal places without rounding'''
    return ('%.*f' % (n + 1, f))[:-1]
}}

<p>Keeping it simple for now...</p>

tables for top 10 of each color + colorless -- pending inclusion of Color as a field

<p><b>Showing data for {{=draft_count}} drafts</b></p>

<h3>Top Cards &mdash; All Colors</h3>
<table>
  {{for ix, card in enumerate(top_cards):}}
      {{=TR(TD(ix+1), TD(card.name), TD(trunc(card.mu, 2)), TD(trunc(card.sigma, 2)))}}
  {{pass}}
</table>

<h3>Bottom Cards &mdash; All Colors</h3>
<table>
  {{for ix, card in enumerate(bottom_cards):}}
      {{=TR(TD(ix+1), TD(card.name), TD(trunc(card.mu, 2)), TD(trunc(card.sigma, 2)))}}
  {{pass}}
</table>

<h3>Untouched Cards</h3>
<table>
  {{for ix, card in enumerate(untouched_cards):}}
      {{=TR(TD(ix+1), TD(card.name), TD(trunc(card.mu, 2)), TD(trunc(card.sigma, 2)))}}
  {{pass}}
</table>

<h3>Graphs</h3>

<p>Mu's for Top Cards &mdash; error bars for 3-sigma</p>
<canvas id="myChart" width="400" height="400"></canvas>


{{block right_sidebar}}
<p>right sidebar</p>
{{end}}


<script src="{{=URL('static', 'js/Chart.min.js')}}"></script>
<script>
var data = {
  labels: {{=XML([card.name for card in top_cards])  }},
  datasets: [
  {
    label: "Mu's for Top Cards",
    fillColor: "rgba(220,220,220,0)",
    strokeColor: "rgba(0,220,220,0)",
    pointColor: "rgba(0,220,220,1)",
    pointHighlightFill : "#fff",
    pointHighlightStroke : "rgba(220,220,220,1)",
    errorStrokeColor: "rgba(0,220,220,1)",
    pointDotRadius: 5,
    bezierCurve: false,
    data: {{=XML([card.mu for card in top_cards])}},
    error: {{=XML([card.sigma * 3 for card in top_cards])}},
  }]

};

var ctx = document.getElementById("myChart").getContext("2d");
var chart1 = new Chart(ctx).Line(data, {scaleBeginAtZero: true});
</script>
